<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Tournament World</title>
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<h1>Tournament World!</h1>
		<div id="main"><%- reactOutput %></div>
		<script type="text/javascript" src="/app.js"></script>
	</body>
</html>