<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Tournament World</title>
	</head>
	<body>
		<h1>Tournament World!</h1>
		<nav>
			<ul>
				<li><a href="/account">My Account</a></li>
				<li><a href="/signin">Sign in</a></li>
				<li><a href="/register">Register</a></li>
			</ul>
		</nav>
		<div id="main"><%- reactOutput %></div>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>